body {
  text-align: center;
  padding: 40px 0;
  background: #83ffa4;
}
  h1 {
    color: #052e3e;
    font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
    font-weight: 900;
    font-size: 40px;
    margin-bottom: 10px;
  }
  p {
    color: #052e3e;
    font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
    font-size:20px;
    margin: 0;
  }
i {
  color: #052e3e;
  font-size: 100px;
  line-height: 200px;
  margin-left:-15px;
}
.card {
  background: #09e3bb38;
  backdrop-filter: blur(10px);
  padding: 60px;
  border-radius: 4px;
  border-color: #052e3e;
  box-shadow: 0 2px 2px #403d3da6;
  display: inline-block;
  margin: 0 ;
}