<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up/In</title>
    <link rel="stylesheet" href="/static/signup.css">
</head>

<body>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" crossorigin="anonymous">
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
<div class="container" id="container">
        <div class="form-container sign-up-container">
            <form action="#">
                <h1>Create Account</h1>
                <div class="social-container">
                    <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
                    <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
                </div>
                <span>or use your email for registration</span>
                <input type="text" placeholder="Enter Your Name" />
                <input type="email" placeholder="Enter Your Email" />
                <input type="password" placeholder="Create Your Password" />
                <button>Sign Up</button>
            </form>
        </div>
        <div class="form-container sign-in-container">
            <form action="#">
                <h1 >Sign in</h1>
                <div class="social-container">
                    <a href="https://www.facebook.com" class="social"><i class="fab fa-facebook-f"></i></a>
                    <a href="https://www.google.com" class="social"><i class="fab fa-google-plus-g"></i></a>
                    <a href="https://www.linkedin.com" class="social"><i class="fab fa-linkedin-in"></i></a>
                </div>
                <span>or use your account</span>
                <input type="email" placeholder="Email" />
                <input type="password" placeholder="Password" />
                <!--<a href="#">Forgot your password?</a>-->
                <button>Sign In</button>
            </form>
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-left">
                    <h1>Welcome Back!</h1>
                    <p>To keep connected with us please login with your personal info</p>
                    <button class="ghost" id="signIn">Sign In</button>
                </div>
                <div class="overlay-panel overlay-right">
                    <h1>Hello, Friend!</h1>
                    <p>Enter your personal details and start your journey with us</p>
                    <button class="ghost" id="signUp">Sign Up</button>
                </div>
            </div>
        </div>
    </div>

<div class="footer">
<b>	Follow me on </b>
	<div class="icons">
		<a href="https://github.com/vishal-247-3rd_hackathon_1st_yr" target="_blank" class="social"><i class="fab fa-github"></i></a>
		<a href="https://www.instagram.com/joypatel_3618?igsh=NGY3bTlza2V3cGQ3" target="_blank" class="social"><i class="fab fa-instagram"></i></a>
		<a href="https://twitter.com/" target="_blank" class="social"><i class="fab fa-twitter-square"></i></a>
		<a href="https://www.linkedin.com/in/joy-patel-572a432b6?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" target="_blank" class="social"><i class="fab fa-linkedin"></i></a>
		</div>
	</div>

    <script src="/static/signup.js"></script>

</body>
</html>